*{
    box-sizing: border-box;
    margin: 0;
}


body {
    background-image: url(../images/whitebackdrop.jpeg);
    background-position: left 42% bottom 35%;
    background-repeat: no-repeat;
    background-size: contain;
}


h1 {
    color: red;
    font-size: 12px;
}
#Emma {
    color: blue;
}
.center {
    text-align: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f7fcf9;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
#navDisplay {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#Emma {
    color:black;
    font-weight: bold;
    font-size: 30px;
}
/* .linkedin {
    transition: border-radius 3s;
    transition-timing-function: ease-in;
}

.linkedin:hover {
    border-radius: 50%;
} */

.linkedin img {
    width: 50px;
    height: 50px;
}

.linkedin {
    transition: all 1s ease-in-out;
}

.linkedin:hover {
    transform: scale(1.1);
}

.github img {
    width: 50px;
    height: 50px;
}

.github {
    transition: all 1s ease-in-out;
}

.github:hover {
    transform: scale(1.1);
}
